#* Archivos generados por Python
*.pyc
__pycache__/

#* Archivos generados por la biblioteca de virtualenv
env/

#* Archivos de configuración de IDEs
*.idea/

#* Archivos generados por pip
dist/
build/
*.spec